/*
@font-face {font-family: 'MyFont'; src: url(MyFont.TTF);}
@font-face {font-family: 'MyFont2'; src: url(MyFont2.ttf);}
@font-face {font-family: 'MyFont3'; src: url(MyFont3.ttf);}
@font-face {font-family: 'MyFont4'; src: url(MyFont4.ttf);}
@font-face {font-family: 'MyFont5'; src: url(MyFont5.ttf);}
@font-face {font-family: 'MyFont6'; src: url(MyFont6.ttf);}
*/
/* resets and create general css for default elements */
body {background-color: #fff;color: #000;margin: 0;padding: 0;height: 100%;}
/* sets html height to 100% which takes all heigh of the page */
html {height: 100%;}
/* sets img max-width to 100% so we don't waste img */
img {max-width: 100%;height: auto;}
/* defines class white properties */
.white {color:#fff;}
a.white { color:#fff757;font-style:normal;text-decoration:none; }
a:visited.white { color:#fff;text-decoration:none; }
a:hover.white { color:#ffdc5e;font-style:normal;}
/* anchor tag general properties */
a {text-decoration: none;transition: 0.8s;}
a:hover img {opacity: 0.8;transition: opacity 0.2s ease-in-out;color: #ffdc5e;font-style:normal;}
/* anchor tag and a couple of tag elements have css extras interations for example hover above an anchor tag can change its properties like we do manipulation in opacity transition*/
a:hover i {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}
/* center the BOX class in the contact session */
.BOX{text-align: center; margin: 100px 0px 100px 0px;}
/* mainbox position properties */
#mainbox {margin: 0px 0px 0px 0px;width: 100%;}
/* main position properties */
main {width: 100%;display: inline-block;vertical-align: top;}
/* @media properties translates resolution from pc to phone making it possible to see webpage from phone in a different yet most functional way */
@media screen and (max-width:480px) {
	p {
		width: 100%;
		margin: 0px 0 10px 0;
	}
 
	main {
		width: 100%;
	}
 
	.imgarea {
		width: 100%;
	}
 
	aside {
		width: 100%;
		margin: 30px 0 0 0;
	}
}
/* titles positioning and spacement */
h1 {position: relative;padding-left: 0em;line-height: 1.4;/* font-family: MyFont4; */margin: 0px 0px 20px 0px;}
h2 {font-weight: bold; font-size: 1.5rem;}
h4 {font-weight: bold; font-size: 1.3rem; margin: 50px 0px 20px 0px;}

img.miniimage { display: none; }

@media (min-width: 600px) {
  img.miniimage { display: none; }
  img.bigimage  { display: block; }
}

@media (max-width: 599px) {
  img.miniimage { display: block; }
  img.bigimage  { display: none; }
}

.resizeimage img { width: 100%; }

.logo {text-align: center; margin : 0 auto; filter: drop-shadow(0px 0px 5px #1f3134);max-width: 500px;min-width: 150px;}
.logo img { width: 100%; }
/* header default position properties */
header {width: 100%;display: flex;align-items: center;overflow: hidden;}
/* headerBox unordered and items position properties */
.headerBox ul {list-style: none;margin: 0;display: flex;padding-left: 0px;}
.headerBox li {margin: 0 0 0 25px;font-size: 20px;/* font-family: MyFont5; */}
/* default nav properties for position */
nav {margin: 0 auto;padding: 10px 0px 0px 0px;}
/* headeerBox properties for contact session */
.headeerBox {
  background-image: url(../img/wave2.png);
  background-repeat: repeat-x;
  height: 400px;
  padding: 50px 0px 0px 0px;
}

.headeerBox ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding-left: 0px;
}

.headeerBox li {
  margin: 0 0 0 25px;
  font-size: 20px;
  font-family: MyFont5;
}

.headeerBox {
  height: 400px;
  padding: 50px 0px 0px 0px;
}
/* headerBox properties from about session */
.headerBox {
  background-image: url(../img/wave.png);
  background-repeat: repeat-x;
  height: 400px;
  padding: 50px 0px 0px 0px;
}

.headerBox ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding-left: 0px;
}

.headerBox li {
  margin: 0 0 0 25px;
  font-size: 20px;
  font-family: MyFont5;
}

.headerBox {
  height: 400px;
  padding: 50px 0px 0px 0px;
}

.sp-nav {
  display: none;
}

@media screen and (max-width: 820px) {
  .pc-nav {
    display: none;
  }

  .toggle {
    transform: translateY( 0 );
    opacity: 1;
  }

  .main-visual {
    padding: 0 4%;
  }
  /* main session of the pages display configuration */
  .main-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  pc_area{display:block;}
  phone_area{display:none;}
}

@media screen and (max-width: 820px){
  pc_area {display:none;}
  phone_area {display:block;}
}
/* we change heading from about me session */
.heading1 {
	position: relative;
	padding-bottom: 20px;
	font-size: 26px;
	text-align: center;
	font-size: 50px; 
	/* font-family: MyFont6; */
	color: #302833;
}
/* this style applies to the arrow */
.heading1::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 16px 0 16px;
	border-color: #cc0018 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
}
/* I know this is repetition of code but here we use the same code with alterations for the contact page */
.heading2 {
	position: relative;
	padding-bottom: 20px;
	font-size: 24px;
	text-align: center;
	font-size: 30px; 
	/* font-family: MyFont6; */
	color: #302833;
}
/* and this is the contact arrow */
.heading2::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 16px 0 16px;
	border-color: #00cccc rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
}

.flex {
	display: flex;
	max-width: 400px;
	margin: 0 auto;
}

.flex div {
  width: 100%;
	background: #383c3c;
	color: #fff;
	text-align: center;
}

/*
.square2li {font-family: MyFont4;}
.square2lij {font-family: MyFont2;}
*/

/* defines the hr color gradient style */
hr.line_style {
  border: none;
  background:linear-gradient(to right, white, rgb(0, 156, 156), white);
  height: 2px;
}

.tabs {
  margin-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
}

.tab_item {
  display: inline-block;
  text-align: center;
  padding: 10px;
  width: 100px;
  border-radius: 7px;
}

.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
  text-align: left;
}

.tabs input:checked + .tab_item {
  background-color: #cc0036;
  color: #fff;
}

.profileimg {
  width: 40%;
  height: 40%;
  text-align: center;
  margin : 0 auto;
  padding: 0px 0px 10px 0px;
}

.profile {
  text-align: center;
  padding: 20px 0px 0px 0px;
  width: 90%;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.profile2 {
  text-align: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.profileSNS {
  width: 100%;
  margin: 0px 0px 10px 0px;
  font-size: 50px;
  text-align: center;
  color: #cc0036;
}

/* socials position in about page */
.socials {max-width: 50px;max-height: 50px;margin: 0 30px;}

.toppagetext {
  text-align: center;
  color: #fff;
  transform: rotate(15deg);
  text-shadow: 1px 2px 3px #000;
  font-size: 17px;
}

a {color: #fff;}

a:hover {color: rgb(255, 105, 143);}

footer.footertop1 {
	text-align: center;
	width:100%;
	background-color: #000;
	color:#fff;
	background-image:url(../img/footer.png);
	padding: 10px 0px;
	margin: 80px 0px 0px 0px;
}

footer.footertop2 {
	height: 100px;
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 45px 13px 45px 0px;
	color: #fff;
}
/* footer anchor configuration */
a.footer { color:#fff;font-style:normal;text-decoration:none; }
a:link.footer { color:#fff;font-style:normal;text-decoration:none; }
a:hover.footer { color:#808080;font-style:normal;}
/* turns the music player hidden */
#player {position: absolute;width: 0;height: 0;overflow: hidden;visibility: hidden;}
/* arrow scroll icon properties */
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  }
  #page-top a {
  text-decoration: none;
  color: #ffffff;
  background-color: #00000000;
  text-align: center;
  display: block;
  width:70px;
  height:70px;
  border-radius: 10px; 
  line-height: 70px;
  overflow: auto;
  background-attachment: scroll;
  background-position: centert top;
  background-attachment: scroll;
  background-position: centert top;
  }
  #page-top a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #FACC2E;
  background-attachment: scroll;
  background-position: centert top;
  }