a {
  text-decoration: none;
}

a.feed{
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.gray{color: #BDBDBD;}
.orange{color: #cc3300;}
.white{color: #fff;}

.kadomaru10{border-radius: 10px;}
.red {color: #FF0000;}
.redb {color: #FF0000; font-weight:bold;}

.star2 {color: #e69c6a; font-weight:bold; }
.star {color: #DA3FF7; font-weight:bold; }
.siro {color: #ffffff; font-weight:bold;}
.meji {color:#ef1101;margin: 0px 8px 0px 0px; -webkit-text-stroke: 1px #ef1101;}
hr.hrhr{border: 0; border-top: 1px dashed #ef1101; background-color: #ffffff; margin: 7px 0px 12px 0px; }
hr.hrhr2{border:none;border-top:dashed 1px #000;height:1px;}

.yajirushi {
  padding: 0px 0px 0px 19px;
  background-image: url(gaibulink.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-position: left center ;
}

.yajirushi_l{
  padding: 0px 0px 0px 19px;
  background-image: url(gaibulink.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-position: left center ;
  text-align: left;
}

.yajirushi2 {
  padding: 0px 0px 0px 19px;
  margin: 0px 0px 0px 25px;
  background-image: url(gaibulink.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-position: left center ;
}

.imgtable {border:0px; margin: 0px; padding: 0px; display:inline-block; text-align: center;}
.imgtable td {padding: 0px 7px 0px 0px; width: 130px; font-size: 12px; margin: 0px 0px 20px 0px;}

.imgtable2 {border:0px; margin: 0px; padding: 0px; display:inline-block; text-align: center;}
.imgtable2 td {padding: 0px 7px 20px 0px; width: 120px; font-size: 12px; margin: 0px 0px 20px 0px; line-height: 190%; letter-spacing: 0.001em;}

.pd20{padding:20px; margin:0 auto;}
.pct{padding:30px 0px 30px 0px; margin:0 auto;}
.pct2{padding:0px 0px 30px 0px; margin:0 auto;}
.pct2b{padding:30px 0px 0px 0px; margin:0 auto;}
.cent{vertical-align:middle; text-align: center;}

.charabox {text-align:center; width:100%;}
.charabox2 {margin: 0 auto; width:220px;}

.charamap {margin:0px 0px 50px 0px; text-align: center;}
.charamap2 {margin: 0 auto; border:0px; text-align: center;}

img.amzn {width: 100px;height: 141px;margin:5px 0px 0px 0px;text-align: center;}
.amzn a:hover img{ opacity: 0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"}
a img.amzn{ background:none!important;}
a:hover img.amzn{ opacity:0.6;filter:alpha(opacity=60);-ms-filter: "alpha( opacity=60 )";}

.textcenter{text-align: center;}

.kaigyo{margin:20px 0px 0px 0px;}
.kaigyoa{margin:50px 0px 0px 0px;}
.kaigyob{margin:55px 0px 0px 0px;}
.kaigyoc{margin:50px 0px;}
.kaigyod{margin:0px 0px 50px 0px;}
.kaigyo2{margin:0px 0px 20px 0px;}
.kaigyo2b{margin:0px 0px 65px 0px;}
.kaigyo2c{margin:5px 0px 5px 0px;}
.copyright{margin:10px 0px 0px 0px;}
.kaigyo3{margin:10px 0px 0px 0px;}

a img { border: none;}
.img40 {width:40%; height:40%;}
.img70 {width:70%; height:70%;}
.img80 {width:80%; height:80%;}
.img90 {width:90%; height:90%;}

a img.linkimg{ background:none!important;}
a:hover img.linkimg{ opacity:0.6;filter:alpha(opacity=60);-ms-filter: "alpha( opacity=60 )";}
a img.linkimg40{ background:none!important;background-color: #ffffff; width:40%; height:40%;}
a:hover img.linkimg40{ opacity:0.6;filter:alpha(opacity=60);-ms-filter: "alpha( opacity=60 )";}
a img.linkimg70{ background:none!important;background-color: #ffffff; width:70%; height:70%;}
a:hover img.linkimg70{ opacity:0.6;filter:alpha(opacity=60);-ms-filter: "alpha( opacity=60 )";}
a img.linkimg80{ background:none!important;background-color: #ffffff; width:80%; height:80%;}
a:hover img.linkimg80{ opacity:0.6;filter:alpha(opacity=60);-ms-filter: "alpha( opacity=60 )";}
a img.linkimg90{ background:none!important;background-color: #ffffff; width:90%; height:90%;}
a:hover img.linkimg90{ opacity:0.6;filter:alpha(opacity=60);-ms-filter: "alpha( opacity=60 )";}
a img.linkimgradius{ background:none!important; border-radius: 10px;}
a:hover img.linkimgradius{ opacity:0.6;filter:alpha(opacity=60);-ms-filter: "alpha( opacity=60 )";}

.kadomaru{border-radius:12px;}

a img.linkimg_kadomaru{ background:none!important;border-radius:12px;}

a:hover img.linkimg_kadomaru{ opacity:0.6;filter:alpha(opacity=60);-ms-filter: "alpha( opacity=60 )";}

.backbutton{font-size: 3rem; text-align: center;}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
}

#page-top a {
  text-decoration: none;
  color: #ffffff;
  background-color: #cc3300;
  text-align: center;
  display: block;
  width:70px;
  height:70px;
  border-radius: 70px; 
  -webkit-border-radius: 70px; 
  -moz-border-radius: 70px; 
  line-height: 70px;
  overflow: auto;
  background-attachment: scroll;
  background-position: centert top;
  background-attachment: scroll;
  background-position: centert top;
}

#page-top a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #FACC2E;
  background-attachment: scroll;
  background-position: centert top;
}

.sctitle {margin:60px 0px 60px 0px;}

.sctitle a {
  display:block;
  width:150px;
  height:26px;
  line-height:26px;
  text-decoration:none;
  text-align: center;
  font-size:14px;
  letter-spacing: 0.3em;
  border:1px solid #ffffff;
  border-left: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
  color:#000000;
  background-color: #ffffff;
  border-radius:8px;
  margin:0 auto;
}

.sctitle a:hover{color:#ffffff;background-color: #000000;font-weight:bold;}

.sctitle2 {margin:60px 0px 0px 0px;}

.sctitle2 a {
  display:block;
  width:150px;
  height:26px;
  line-height:26px;
  text-decoration:none;
  text-align: center;
  font-size:14px;
  letter-spacing: 0.3em;
  border:1px solid #ffffff;
  border-left: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
  color:#000000;
  background-color: #ffffff;
  border-radius:8px;
  margin:0 auto;
}

.sctitle2 a:hover{color:#ffffff;background-color: #000000;font-weight:bold;}

.title_mokuji {
  text-align: left; 
  font-size: 17px; 
  margin: 0px 0px 3px 0px; 
  padding: 0px 0px 20px 29px;
  background-image:url(title_mokuji.png);
  background-repeat:no-repeat;
}

.title_mokuji2 {
  text-align: left; 
  font-size: 17px; 
  margin: 150px 0px 20px 0px; 
  padding: 0px 0px 7px 29px;
  background-image:url(title_mokuji.png);
  background-repeat:no-repeat;
}